{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12-lg-6">
    <h1 class="text-center mt-3 mb-3">Liste des produits</h1>

{% for repos in repo %}
    <li><a href="{{ path('categorie', {'nom':repos.noms}) }}">{{ repos.noms }}</a> </li>
    {% for repos2 in repos %}
        {{ repos2.isNouveaute() }}
    {% endfor %}



{% endfor %}


</div>

{% endblock %}
