{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12-lg-6">
    <h1 class="text-center mt-3 mb-3">Liste des categories</h1>

    {% for repos in repo %}
        <li><a href="{{ path('reference', {'nom':repos.categorie.noms,'reference':repos.reference}) }}">{{ repos.reference }}</a> </li>
{{ repos.isNouveaute() }}

    {% endfor %}

</div>

{% endblock %}
